.title {
    text-align: center;
    font-size: 45px;
    color: #B02225;
    margin: 0 auto;
}

.paragraph {
    text-align: center;
    font-size: 18px;
    max-width: 65%;
    margin: 0px auto 0;
}